
body {
  background-image: url(https://i.makeagif.com/media/2-07-2017/JTG6s-.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}


.images{
  
  height:550px;
  width:250px;
  top:200px;

}


a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: green;
  color: white;
}
.a{

  font-family: sans-serif;
}

.text{
  color: white;
  position:absolute;
  top:23%;
  left: 35%;
  font-size:300%;
  
}

.plane{
  position:absolute;
  width:1000px;
  top:32%;
left:74%;
}

.abc{
  color: white;
  position:absolute;
  font-size:25px;
  font-style:bold;
  width:1000px;
  height:100px;
  top:360px;
  left:400px;
}


.sub{
  color: white;
  position:absolute;
  align-content:left;
  top:60%;
  left:25%;
  width:1000px;
  font-size: large
  ;
  word-spacing:3px;
  line-height: 1.6;
  
}


.font{
  color: white;
  font-size:large;
  word-spacing:3px;
  line-height: 1.6;
}

.f{
  color: white;
  position:absolute;
  top:80%;
  left:15%;
  width:70%;
  text-align:center;
  font-size:250%;
  color: rgb(2, 52, 68);
}

.g{
  color: white;
  position: absolute;
  top:90%;
  left:25%;
  font-size:150%;
 
}




.blue {
 color: black;
  position:absolute;
  background:lightblue;
  width:196%;
  height:1500px;
  left:-498px;

}





.btn {
  color: white;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}



input[type=file]::file-selector-button {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

input[type=file]::file-selector-button:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.video {
  position:absolute;
  top:95%;
  left: 70%;
}

.copy{
  text-align: center;
}

